.update-form-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 100vh;
  overflow: auto;
  margin: auto;
  border: 1px solid black;
  background-color: white;
  border-radius: 12px;
  padding: 3rem;
  align-items: center;

  &__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    input {
      outline-color: #ff5e6c;
      background: transparent;
      border-color: transparent;
      border-bottom: 1px solid darkgrey;
      margin: 1rem;
    }

    &__roles {
      display: flex;
    }

    textarea {
      font-family: 'Roboto', sans-serif;
      background-color: transparent;
      width: 100%;
      resize: none;
      outline: none;
      border: solid 1px black;
      border-radius: 12px;
      height: 10rem;
      overflow: scroll;
    }
  }

  h2 {
    padding-top: 1rem;
  }
}
